fastapi
uvicorn[standard]

sqlalchemy
asyncpg

passlib[bcrypt]
python-jose[cryptography]
PyJWT

pydantic[email]
pydantic-settings
python-dotenv

groq
huggingface_hub
langchain
langchain-core
langchain-groq
langgraph
langsmith
chromadb